<section class="kanji-container">
    <p-multiSelect
            [options]="filterOptions"
            [group]="true"
            class="kanji-filter full-width"
            placeholder="Select Filter Options"
            scrollHeight="250px"
            display="chip"
    ></p-multiSelect>
    <div
            *ngFor="let ji of (kanjies$ | async) || []"
            routerLink="kanji/{{ji.id}}"
            [relativeTo]="route"
            class="kanji-card"
    >
        {{ji.kanji}}
    </div>
    <ng-container *ngIf="loading$ | async">
        <p-skeleton
                *ngFor="let _ of skeletons"
                width="100%"
                height="100%"
                [ngClass]="'kanji-card'"
        ></p-skeleton>
    </ng-container>
</section>