<section class="kanji-container">
    <p-multiSelect
            [group]="true"
            [options]="filterOptions"
            class="kanji-filter full-width"
            display="chip"
            placeholder="Select Filter Options"
            scrollHeight="250px"
    ></p-multiSelect>
    <div
            *ngFor="let ji of (kanjies$ | async) || []"
            [relativeTo]="route"
            class="kanji-card"
            routerLink="kanji/{{ji.kanji}}"
    >
        {{ ji.kanji }}
    </div>
    <ng-container *ngIf="loading$ | async">
        <p-skeleton
                *ngFor="let _ of skeletons"
                [ngClass]="'kanji-card'"
                height="100%"
                width="100%"
        ></p-skeleton>
    </ng-container>
</section>