<div [formGroup]="form" class="kanji-filter">
    <p-multiSelect
            [options]="jlpt"
            [showHeader]="false"
            appendTo="body"
            class="full-p-dropdown"
            display="chip"
            formControlName="jlpt"
            id="jlpt-label"
            inputId="jlpt-label"
            optionLabel="name"
            placeholder="Select a JLPT"
    />
    <p-multiSelect
            [options]="grades"
            [showHeader]="false"
            appendTo="body"
            class="full-p-dropdown"
            display="chip"
            formControlName="grade"
            id="grade-label"
            inputId="grade-label"
            optionLabel="name"
            placeholder="Select a Grade"
    />
    <input formControlName="search" pInputText placeholder="English, Japanese and Romaji">
</div>

<section class="kanji-container">
    <div
            *ngFor="let ji of (kanjies$ | async) || []"
            [relativeTo]="route"
            class="kanji-card"
            routerLink="kanji/{{ji.kanji}}"
    >
        {{ ji.kanji }}
    </div>
    <ng-container *ngIf="loading$ | async">
        <p-skeleton
                *ngFor="let _ of skeletons"
                [ngClass]="'kanji-card'"
                height="100%"
                width="100%"
        ></p-skeleton>
    </ng-container>
</section>