@import "src/assets/styles/kanji-card";

.kanji-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .kanji-filter {
    width: 100%;
  }

  .list-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;

    .clear-button {
      align-self: flex-end;
      cursor: pointer;
    }

    .list-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .list-box-option {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .list-box-option[aria-selected='true'], .list-box-option:hover {
      background: rgba(128, 128, 128, 0.6);
    }

    .list-box-option[aria-disabled='true'], .list-box-option[aria-disabled='true']:hover {
      background: rgba(0, 0, 0, 0.6);
      color: rgb(255, 255, 255);
    }
  }
}