<section class="kanji-container">
    @if (radicalSearchOptions$ | async; as radicalSearchOptions) {
        <div class="list-box-container">
            <mat-icon class="clear-button" (click)="onSettingReset()">settings_backup_restore</mat-icon>
            <ul cdkListbox
                cdkListboxMultiple
                [formControl]="radicalControl"
                class="list-box">
                @for (radical of radicalSearchOptions; track radical.value) {
                    <li [cdkOption]="radical.value" [cdkOptionDisabled]="radical.disabled" class="list-box-option">
                        <span>{{ radical.label }}</span></li>
                }
            </ul>
        </div>


        @if (kanjies$ | async; as kanjies) {
            @for (kanji of kanjies; track kanji.kanji) {
                <div
                        [relativeTo]="route"
                        class="kanji-card"
                        routerLink="kanji/{{kanji.kanji}}"
                >
                    {{ kanji.kanji }}
                </div>
            }
        } @else if (radicalControl.value && radicalControl.value.length) {
            <mat-progress-bar [style]="{ marginTop: '1em' }" mode="indeterminate"></mat-progress-bar>
        }
    } @else {
        <mat-progress-bar [style]="{ marginTop: '1em' }" mode="indeterminate"></mat-progress-bar>
    }
</section>