@if (grammarTopic$ | async; as grammarTopic) {
    <div class="grammar-settings">
        <button (click)="isSettingOpened = !isSettingOpened" class="setting" mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        @if (isSettingOpened) {
            <div class="setting-values">
                @for (type of taskTypes; track type) {
                    <div [formGroup]="form" class="type-range">
                        <mat-slider
                                [displayWith]="formatLabel"
                                min="1"
                                max="10"
                                step="1"
                                showTickMarks
                                discrete
                        >
                            <input [formControlName]="type" matSliderThumb>
                        </mat-slider>
                        <mat-slide-toggle color="primary" [checked]="form.controls[type].enabled"
                                          (change)="onToggleChanged($event, type)">
                            Enable {{ type | taskTypeRepresentation }}
                        </mat-slide-toggle>
                    </div>
                }
            </div>
            <button (click)="resetGrammars()" class="reset" color="primary" mat-raised-button>Reset Grammars</button>
        }
    </div>
    <div class="grammar-topic">
        <h3>{{ grammarTopic.header }}</h3>
        <h5 [innerHTML]="grammarTopic.formation"></h5>
        <mat-list class="grammar-list-wrapping">
            <div class="example-list">
                @for (example of grammarTopic.exampleSentences; track example) {
                    <mat-list-item class="example-item" lines="3">
                        <span matListItemTitle>{{ example.sentence }}</span>
                        <span>{{ example.translation }}</span>
                    </mat-list-item>
                }
            </div>
            <mat-tab-group animationDuration="1000ms">
                @for (type of availableTaskTypes; track type) {
                    <mat-tab label="{{ type | taskTypeRepresentation }}">
                        @for (task of type | filter : grammarTopic.tasks : 'taskType'; track task) {
                            <div class="question-item">
                                <mat-list-item>
                                    <span matListItemTitle>{{ task.question }}</span>
                                    <span>{{ task.description }}</span>
                                </mat-list-item>
                                <mat-list-item>
                                    <div class="question-item-answer">
                                        <mat-form-field floatLabel="always">
                                            <mat-label style="display: none;">Input answer</mat-label>
                                            <input [disabled]="isChecked.checked" #input placeholder="Input answer"
                                                   matInput>
                                        </mat-form-field>
                                        <input #isChecked style="display: none">
                                        @if (!isChecked.checked) {
                                            <button
                                                    mat-icon-button
                                                    (click)="isChecked.checked = true"
                                            >
                                                <mat-icon>task_alt</mat-icon>
                                            </button>
                                        } @else {
                                            <span class="answer">{{ task.correctAnswer }}</span>
                                            <mat-icon>
                                                {{ input.value === task.correctAnswer ? 'check' : 'warning' }}
                                            </mat-icon>
                                        }
                                    </div>
                                </mat-list-item>
                            </div>
                        }
                    </mat-tab>
                }
            </mat-tab-group>
        </mat-list>
    </div>
}

@if (loading$ | async) {
    <h5>Please wait a bit we are collection data to prepare tasks</h5>
    <mat-progress-bar [style]="{ marginTop: '1em' }" mode="indeterminate"></mat-progress-bar>
}