@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";
@import "src/assets/styles/fonts.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'DM Sans Placeholder', sans-serif;
}


main {
  max-width: 80vw;
  min-height: calc(100vh - 3 * $section-height);
  padding: 20px;
  margin: 0 auto $section-height auto;
}

.regular-tooltip {
  font-size: 12px
}

// Updated
.dropped-background:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 0 !important;
}

.kanji-attributes {
  .mdc-evolution-chip-set__chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
}