@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";
@import "src/assets/styles/fonts.scss";

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'DM Sans Placeholder', sans-serif;
}



main {
  max-width: 80vw;
  min-height: calc(100vh - 3 * $section-height);
  padding: 20px;
  margin: $section-height auto $section-height auto;
}

footer {
  background-color: $bar-color;
  color: #fff;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: $section-height;
}

