@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

header {
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.30), transparent);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
  width: 100vw;


  .logo {
    height: 100%;
    width: 157px;
  }

  nav {
    margin-left: auto;

    .page-button {
      background-color: transparent;
      color: #000000;
      border: none;
      margin-right: 20px;
      padding: 0;
      border-radius: 0;

      &:before {
        content: "";
        height: 3px;
        width: 0;
        position: absolute;
        left: 0;
        top: 90%;
        background: rgba(0, 0, 0, 50%);
      }

      &:hover:before, &.active-page:before {
        transition: 0.5s;
        width: 100%;
      }

      &:focus, &:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
  }
}

