@mixin hovering-button($background-color, $color, $hover-background-color, $hover-color) {
  background-color: $background-color;
  border-color: transparent;
  color: $color;
  transition: .3s;
  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    box-shadow: none;
  }
}

@mixin container {
  padding: 10px;
  width: 60vw;
}

@mixin header {
  font-weight: 600;
}