@if (kanji$ | async; as kanji) {
    <div class="kanji-container">
        <p-card class="kanji-card">
            <div class="kanji-header">
                <div class="kanji-with-drawing">
                    <h1>{{ kanji.kanji }}</h1>
                    @if (kanjiSvgContent$ | async; as kanjiSvgContent) {
                        <app-kanji-drawing [kanjiSvgContent]="kanjiSvgContent"></app-kanji-drawing>
                    }
                </div>
                <h3>{{ kanji.heisigEn }}</h3>
                <p>
                    <span
                            [pTooltip]="kanji.gradeTooltip"
                            tooltipPosition="top"
                            tooltipStyleClass="regular-tooltip"
                            class="badge grade"
                    >Grade: {{ kanji.gradePrettified }}</span>
                    <span class="badge strokes">Radical: {{ kanji.radical }}</span>
                    <span class="badge strokes">Strokes: {{ kanji.strokes }}</span>
                    @if (kanji.jlpt) {
                        <span
                                [pTooltip]="kanji.jlptTooltip"
                                tooltipPosition="top"
                                tooltipStyleClass="regular-tooltip"
                                class="badge jlpt"
                        >JLPT: {{ kanji.jlptPrettified }}</span>
                    }
                </p>
            </div>

            <div class="kanji-details">
                @if (kanji.meaning && kanji.meaning.split(';').length > 1) {
                    <div class="kanji-section">
                        <h4>Meanings</h4>
                        <ul>
                            @for (meaning of kanji.meaning.split(';'); track meaning; let first = $first) {
                                @if (!first) {
                                    <li>{{ meaning }}</li>
                                }
                            }
                        </ul>
                    </div>
                }
                @if (kanji.kunyomi) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'Kun Reading', readings: kanji.kunyomi}"
                    ></ng-container>
                }
                @if (kanji.onyomi) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'On Reading', readings: kanji.onyomi}"
                    ></ng-container>
                }
                @if (kanji.nanori) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'Nanori', readings: kanji.nanori}"
                    ></ng-container>
                }
                <ng-template #reading let-title="title" let-readings="readings">
                    <div class="kanji-section">
                        <h4>{{ title }}</h4>
                        <ul>
                            @for (reading of readings.split('、'); track reading) {
                                <li>{{ reading }}</li>
                            }
                        </ul>
                    </div>
                </ng-template>
            </div>
        </p-card>
    </div>
}
