@if (kanji$ | async; as kanji) {
    <div class="kanji-container">
        <div class="kanji-card">
            <div class="kanji-header">
                <div class="kanji-with-drawing">
                    <h1>{{ kanji.kanji }}</h1>
                    @if (kanjiSvgContent$ | async; as kanjiSvgContent) {
                        <app-kanji-drawing [kanjiSvgContent]="kanjiSvgContent"></app-kanji-drawing>
                    }
                </div>
                <h3>{{ kanji.heisigEn }}</h3>
                <mat-chip-listbox [selectable]="false" [className]="'kanji-attributes'">
                    <mat-chip-option [matTooltip]="kanji.gradeTooltip" matTooltipPosition="above">
                        Рівень: {{ kanji.gradePrettified }}
                    </mat-chip-option>
                    <mat-chip-option>Радикал: {{ kanji.radical }}</mat-chip-option>
                    <mat-chip-option>Лінії: {{ kanji.strokes }}</mat-chip-option>
                    @if (kanji.jlpt) {
                        <mat-chip-option [matTooltip]="kanji.jlptTooltip" matTooltipPosition="above">
                            JLPT: {{ kanji.jlptPrettified }}
                        </mat-chip-option>
                    }
                </mat-chip-listbox>
            </div>

            <div class="kanji-details">
                @if (kanji.meaning && kanji.meaning.split(';').length > 1) {
                    <div class="kanji-section">
                        <h4>Значення</h4>
                        <ul>
                            @for (meaning of kanji.meaning.split(';'); track meaning; let first = $first) {
                                @if (!first) {
                                    <li>{{ meaning }}</li>
                                }
                            }
                        </ul>
                    </div>
                }
                @if (kanji.kunyomi) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'Кун Читання', readings: kanji.kunyomi}"
                    ></ng-container>
                }
                @if (kanji.onyomi) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'Он Читання', readings: kanji.onyomi}"
                    ></ng-container>
                }
                @if (kanji.nanori) {
                    <ng-container
                            *ngTemplateOutlet="reading; context: { title: 'Наорі', readings: kanji.nanori}"
                    ></ng-container>
                }
                <ng-template #reading let-title="title" let-readings="readings">
                    <div class="kanji-section">
                        <h4>{{ title }}</h4>
                        <ul>
                            @for (reading of readings.split('、'); track reading) {
                                <li>{{ reading }}</li>
                            }
                        </ul>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
} @else {
    <mat-progress-bar [style]="{ marginTop: '1em' }" mode="indeterminate"></mat-progress-bar>
}
