.kanji-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.kanji-card {
  padding: 2rem;
  border-radius: 10px;
}

.kanji-header {
  text-align: center;
  margin-bottom: 2rem;

  .kanji-with-drawing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

.kanji-header h1 {
  font-size: 5rem;
  margin: 0;
  color: #333;
}

.kanji-header h3 {
  font-size: 2rem;
  color: #666;
  margin-top: 0.5rem;
}

.kanji-header p {
  margin: 1rem 0;
}

.kanji-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.kanji-section {
  flex: 1 1 calc(50% - 2rem);
  min-width: 300px;
}

.kanji-section h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.kanji-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kanji-section ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
  color: #555;
}

.kanji-section ul li:last-child {
  border-bottom: none;
}

/* kanji-detail.component.css */
.words-section {
  margin-top: 20px;
}

.word-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.word-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.word-item h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.2em;
}

.variant-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.variant-list li {
  margin-bottom: 5px;
  color: #666;
}

.variant-written {
  font-weight: bold;
}

.variant-pronounced {
  color: #888;
}