@import "src/assets/styles/variables";
.kanji-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  ::ng-deep {
    p-skeleton.kanji-card > div {
      border-radius: 30px;
      cursor: default;
    }
  }
  .kanji-card {
    background-color: $table-color;
    border-radius: 30px;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    cursor: pointer;
    margin: 10px;
    &:hover {
      color: $table-color;
      background-color: #000000;
      transition: 0.5s;
    }
  }
}